@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 17, 24, 39;  /* #161C2D */
}

@font-face {
	font-family: "GilroyLight";
	src: url("/assets/fonts/Gilroy-FREE/Gilroy-Light.otf") format("opentype");
	font-weight: lighter;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "GilroyExtraBold";
	src: url("/assets/fonts/Gilroy-FREE/Gilroy-ExtraBold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-weight: 700;
}

body {
	font-family: "GilroyLight";
	color: rgb(var(--primary-color));
}